*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    border: solid lightcoral;
    margin: 40px;
    width: 500px;
    height: 600px;
}
.box-one{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 40px;
}