*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    background-color: rgb(185, 236, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
.box{
    background-color: black;
    color: antiquewhite;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-one{
    background-color: rgb(191, 100, 100);
    color: antiquewhite;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-two{
    background-color:brown;
    color: antiquewhite;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.box-three{
    background-color:thistle;
    color: black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-four{
    background-color:darkmagenta;
    color: black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}