*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    background-color: thistle;
    padding: 20px;
    margin: 10px;
    
}
.child{
    background-color:  rgb(32, 31, 31);
    color:antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.grandchild{
    font-family:  "Brush Script MT", "Lucida Handwriting", "Bradley Hand", cursive;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-weight: 900;
    padding: 10px;
}
.navbar a{
    color:antiquewhite;
}
