@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image{
  padding: 20px;
  height: 200px;
  width: 200px;
}
.heading{
  padding: 20px; 
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head{
  padding: 20px; 
  font-size: large;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
